{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}<script type="text/javascript" src="{% static 'js/cart-update.js' %}"></script>{% endblock %}
{% block body %}
{% block usercenter %}{% endblock %}
{% block search_bar %}{% endblock %}
	<div class="total_count">全部商品<em>{{ total_count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

    <form method="post" action="{% url 'order:place' %}">
    {% csrf_token %}
   {% for book in book_li %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="books_ids" value="{{ book.id }}" checked></li>
		<li class="col02"><img src="/static/images/{{ book.image }}"></li>
		<li class="col03">{{ book.name }}<br><em>{{ book.price }}元</em></li>
		<li class="col04">{{ book.unite }}</li>
		<li class="col05">{{ book.price }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ book.count }}" books_id={{ book.id }}>
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">{{ book.amount }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ total_price }}</em><br>共计<b>{{ total_count }}</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
    </form>
{% endblock %}